* {
  margin: 0%;
  padding: 0%;
}

body {
  background-color: black;
}
.home{
  background: radial-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)), url("https://assets.nflxext.com/ffe/siteui/vlv3/a73c4363-1dcd-4719-b3b1-3725418fd91d/fe1147dd-78be-44aa-a0e5-2d2994305a13/IN-en-20231016-popsignuptwoweeks-perspective_alpha_website_large.jpg");
  min-height: 100vh;
}

nav {
  display: flex;
  justify-content: center;
  justify-content: space-around;
}

nav.img img {
  width: 17%;
  margin-top: -18px;
}

nav.btn {
  display: flex;
  margin-top: 12px;
}
.btn .eng {
  width: 110px;
  height: 40px;
  background-color: black;
  color: white;
  font-size: 19px;
  border: 2px solid white;
  border-radius: 3px;
}
.btn .eng:hover {
  background-color: transparent;
}
.btn .sign:hover {
  background-color: transparent;
  border: 3px solid red;
}
.btn .sign {
  width: 90px;
  height: 40px;
  background-color: rgb(rgb(224, 15, 15), green, blue);
  color: rgb(236, 132, 132);
  font-size: 19px;
  border-radius: 3px;
  border: none;
}
.btn .eng {
  margin-inline: 22px;
}

.main {
  margin: 50px;
  padding: 50px;
  text-align: center;
}
.main h1 {
  font-size: 50px;
  color: aliceblue;
}
.main h3 {
  font-size: 34px;
  color: aliceblue;
}
main.p {
  font-size: 27px;
  background-color: white;
}
.input {
  display: flex;
  justify-content: center;
}
.input input {
  width: 400px;
  height: 58px;
  border: none;
  font-size: 25px;
}
.input button {
  width: 200px;
  height: 60px;
  background-color: red;
  color: white;
  font-size: 26px;
  border: none;
}
.input button:hover{
  color: rgb(43, 2, 2);
}
.first {
  display: flex;
  justify-content: center;
  margin-top: 160px;
  padding: 66px;
  border-top: 4px solid green;
}
.first h1 {
  font-size: 55px;
  color: aliceblue;
  margin: 150px 0px 0px 0px;
}
.first p {
  font-size: 27px;
  color: aliceblue;
  margin: 10px 0px;
}
.first img {
  width: 40%;
}
.buttons h1 {
  text-align: center;
  margin-top: 33px;
  font-size: 44px;
}
.buttons button {
  width: 80%;
  min-height: 60px;
  background-color: rgb(39, 42, 39);
  color: white;
  margin: 10px;
  font-size: 25px;
  text-align: left;
}
.buttons button a{
  margin: 0px 9px;
}
.footer {
  display: flex;
  color: aliceblue;
  justify-content: center;
  justify-content: space-around;
  padding: 44px;
  border-top: 4px solid gray;
  margin-top: 5%;
}